.available-services-container{
  width: 921px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  margin: 10px;
  border-radius: 20px;
  border: 1px solid #346112;
  background: #FBF6F0;
}

    .available-services-description-head{
      text-align: center;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
      .available-services-description-position-text-background{
        width: 794px;
        height: 77px;
        border-radius: 20px;
        border: 1px solid #346112;
        margin: 10px;

      }
        .available-services-description-position-text{
          display: flex;
          text-align: center;
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          justify-content: center;
        }