.button-inscription{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 233px;
  height: 95px;
  border-radius: 20px;
  border: 1px solid #346112;
  background: #FBF6F0;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin:10px;
}
