.body{
  background-color: #FBF6F0
}
.eyetest-description-container{
  top: 158px;
  left: 390px;

  width: 710px;
  height: 145px;
  background: rgba(204.17, 238.20, 178.45, 0);
  border-radius: 20px;
  border: 1px #346112 solid
}

      .optometrist-image{
      top: 39px;
      left: 456px;

      width: 110px;
      height: 100px;
    }

    .eyetest-description-text{
      left: 610px;
      top: -86px;

     width: 491px;
      height: 119px;
      color: black;
      font-size: 18px;
      font-family: Nunito Sans;
      font-weight: 600;
      word-wrap: break-word
}
.eyetest-proces-description-title{
  top: -60px;

  width: 100%;
  height: 100%;
  text-align: center;
  color: black;
  font-size: 24px;
  font-family: Nunito Sans;
  font-weight: 700;
  word-wrap: break-word
}
.eyetest-proces-description-1-etap-container{
  width: 100%;
  height: 100%;

  top: -83px;
  left: 26%
}

.eyetest-proces-description-1-etap-background{
  width: 163px;
  height: 246px;
  left: 4px;
  top: 54px;

  background: linear-gradient(0deg, #92D45F 0%, rgba(191.41, 233.54, 159.58, 0) 100%);
  border-radius: 20px;
  border: 1px #346112 solid
}

.eyetest-proces-description-1-etap-container-border{
  width: 163px;
  height: 246px;
  left: 0px; top: 0px;

  border-radius: 20px;
  border: 1px #346112 solid
}

.eyetest-proces-description-1-etap-number{
 width: 107px;
  height: 34px;
  left: 27px;
  top: 143px;

  text-align: center;
  color: black;
  font-size: 20px;
  font-family: Nunito Sans;
  font-weight: 700;
  word-wrap: break-word
}
.eyetest-proces-description-1-etap-name{
 width: 134px;
  height: 53px;
  left: 14px;
  top: 178px;

  text-align: center;
  color: black;
  font-size: 14px;
  font-family: Nunito Sans;
  font-weight: 700;
  word-wrap: break-word
}
.eyetest-proces-description-1-etap-image{
 width: 95px;
  height: 100px;
  left: 34px;
  top: 23px;

}
.eyetest-proces-description-2-etap-container{
  width: 163px;
  height: 246px;
  left: 185px;
  top: 54px;

  background: linear-gradient(0deg, #92D45F 0%, rgba(191.41, 233.54, 159.58, 0) 100%);
  border-radius: 20px;
  border: 1px #346112 solid
}
.eyetest-proces-description-2-etap-container-border{
  width: 163px;
  height: 246px;
  left: 0px;
  top: 0px;

  border-radius: 20px;
  border: 1px #346112 solid
}
.eyetest-proces-description-2-etap-number{
 width: 107px;
  height: 34px;
  left: 27px;
  top: 143px;

  text-align: center;
  color: black;
  font-size: 20px;
  font-family: Nunito Sans;
  font-weight: 700;
  word-wrap: break-word
}
.eyetest-proces-description-2-etap-name{
 width: 134px;
  height: 53px;
  left: 14px;
  top: 178px;

  text-align: center;
  color: black;
  font-size: 14px;
  font-family: Nunito Sans;
  font-weight: 700;
  word-wrap: break-word
}
.eyetest-proces-description-2-etap-image{
  width: 95px;
  height: 100px;
  left: 34px;
  top: 23px

}

.eyetest-proces-description-3-etap-container{
  width: 163px;
  height: 246px;
  left: 366px;
  top: 54px;

  background: linear-gradient(0deg, #92D45F 0%, rgba(191.41, 233.54, 159.58, 0) 100%);
  border-radius: 20px;
  border: 1px #346112 solid
}
.eyetest-proces-description-3-etap-container-border{
 width: 163px;
  height: 246px;
  left: 0px;
  top: 0px;

  border-radius: 20px;
  border: 1px #346112 solid
}
.eyetest-proces-description-3-etap-number{
width: 107px;
  height: 34px;
  left: 27px;
  top: 143px;

  text-align: center;
  color: black;
  font-size: 20px;
  font-family: Nunito Sans;
  font-weight: 700;
  word-wrap: break-word
}
.eyetest-proces-description-3-etap-name{
  width: 134px;
  height: 53px;
  left: 14px;
  top: 178px;

  text-align: center;
  color: black;
  font-size: 14px;
  font-family: Nunito Sans;
  font-weight: 700;
  word-wrap: break-word
}
.eyetest-proces-description-3-etap-image{
 width: 95px;
  height: 100px;
  left: 34.05px;
  top: 23px;

}
.eyetest-proces-description-4-etap-container{
  width: 162.70px;
  height: 246px;
  left: 547px;
  top: 54px;

  background: linear-gradient(0deg, #92D45F 0%, rgba(191.41, 233.54, 159.58, 0) 100%);
  border-radius: 20px;
  border: 1px #346112 solid
}
.eyetest-proces-description4-etap-container-border{
  width: 163px;
  height: 246px;
  left: 0px;
  top: 0px;

  border-radius: 20px;
  border: 1px #346112 solid
}
.eyetest-proces-description-4-etap-number{
  width: 107px;
  height: 34px;
  left: 27px;
  top: 143px;

  text-align: center;
  color: black;
  font-size: 20px;
  font-family: Nunito Sans;
  font-weight: 700;
  word-wrap: break-word
}
.eyetest-proces-description-4-etap-name{
  width: 134px;
  height: 53px;
  left: 14px;
  top: 178px;

  text-align: center;
  color: black;
  font-size: 14px;
  font-family: Nunito Sans;
  font-weight: 700;
  word-wrap: break-word
}
.eyetest-proces-description-4-etap-image{
  width: 95px;
  height: 100px;
  left: 34px;
  top: 23px;

}

