.carousel{
  top:250px;
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  position: relative;
}

.carousel-container{
  margin-left: 25px;
  width: 425px;
  height: 550px;
  display: flex
}

.carousel-slid{
  width: 425px;
  height: 550px;
  border-radius: 20px;
  margin-right: 15px;
  margin-left: 15px
}
.carousel-button-right{
  width: 35px;
  height: 35px;
  position: relative;
  top: 275px
}

.carousel-button-left{
  width: 35px;
  height: 35px;
  rotate: 180deg;
  position: relative;
  top: 275px
}
