*.h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #FBF6F0;
}

.carousel-description-position {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 20px;
}

.carousel-description-background {
  width: 700px;
  height: 65px;
  left: 380px;
  top: 150px;
  position: absolute;
  background: #FA813D;
  border-radius: 20px;
}

.carousel-description-text {
  width: 799.92px;
  height: 40.61px;
  left: 335px;
  top: 165px;
  position: absolute;
  text-align: center;
  color: #FBF6F0;
  font-size: 32px;
  font-family: Nunito Sans;
  font-weight: 700;
  word-wrap: break-word;
}

.carousel {
  top: 250px;
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  position: relative;
}

.carousel-container {
  margin-left: 25px;
  width: 425px;
  height: 550px;
  display: flex;
}

.carousel-slid {
  width: 425px;
  height: 550px;
  border-radius: 20px;
  margin-right: 15px;
  margin-left: 15px;
}

.carousel-button-right {
  width: 35px;
  height: 35px;
  position: relative;
  top: 275px;
}

.carousel-button-left {
  width: 35px;
  height: 35px;
  rotate: 180deg;
  position: relative;
  top: 275px;
}

.eyetest-general-description-container {
  display: flex;
  justify-content: center;
}

.eyetest-general-description-background {
  width: 710px;
  height: 145px;
  border-radius: 20px;
  border: 1px solid #346112;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.eyetest-general-description-text {
  margin: 10px;
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.statement-list-position {
  margin: 15px;
}

.eyetest-general-description-image {
  margin: 10px;
  width: 110px;
  height: 100px;
}

.eyetest-proces-decription-title {
  display: flex;
  justify-content: center;
}

.eyetest-proces-decription-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.eyetest-cost-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.eyetest-limitations-description-container {
  display: flex;
  justify-content: center;
}

.eyetest-limitations-description-background {
  width: 710px;
  height: 145px;
  border-radius: 20px;
  border: 1px solid #346112;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.eyetest-limitations-description-text {
  margin: 10px;
  width: 491px;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.eyetest-limitations-description-image {
  width: 110px;
  height: 100px;
}

.multifocal-lenses-general-description-text-container {
  margin: 10px;
  padding: 10px;
}

.lenses-description-text {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.office-lenses-title-container {
  width: 100%;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.lenses-kind-title {
  color: #000;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
}

.office-lenses-description-container {
  margin: 10px;
  padding: 10px;
}

.lenses-description-text {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.office-lens-imagine-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 10px;
}

.office-lens-image {
  width: 838px;
  height: 449px;
  border-radius: 20px;
  border: 1px solid #346112;
}

.infromation-about-shop-zakopianka-container {
  top: 201px;
  left: 435px;
  width: 410px;
  height: 622px;
  background: #FBF6F0;
  border-radius: 20px;
  border: 1px #346112 solid;
}

.video-road-to-shop-container {
  top: 218px;
  left: 486px;
  width: 410px;
  height: 622px;
  border-radius: 20px;
  border: 1px #346112 solid;
}

.video-road-to-shop {
  width: 410px;
  height: 622px;
}

.shop-title-zakopianka {
  top: 564px;
  left: 435px;
  width: 410px;
  height: 23px;
  text-align: center;
  color: black;
  font-size: 20px;
  font-family: Nunito Sans;
  font-weight: 700;
  word-wrap: break-word;
}

.map-image-zakopianka {
  top: 643px;
  left: 507px;
  width: 35px;
  height: 35px;
}

.kontakt-information-text-adres-zakopianka {
  top: 643px;
  left: 551px;
  color: black;
  font-size: 12px;
  font-family: Nunito Sans;
  font-weight: 700;
  word-wrap: break-word;
}

.instagram-image-zakopianka {
  top: 686px;
  left: 507px;
  width: 35px;
  height: 35px;
}

.kontakt-information-text-instagram-zakopianka {
  top: 686px;
  left: 551px;
  color: black;
  font-size: 12px;
  font-family: Nunito Sans;
  font-weight: 700;
  word-wrap: break-word;
}

.facebook-image-zakopianka {
  top: 729px;
  left: 507px;
  width: 35px;
  height: 35px;
}

.kontakt-information-text-facebook-zakopianka {
  top: 729px;
  left: 551px;
  color: black;
  font-size: 12px;
  font-family: Nunito Sans;
  font-weight: 700;
  word-wrap: break-word;
}

.e-mail-image-zakopianka {
  top: 772px;
  left: 507px;
  width: 35px;
  height: 35px;
}

.kontakt-information-text-e-mail-zakopianka {
  top: 772px;
  left: 551px;
  color: black;
  font-size: 12px;
  font-family: Nunito Sans;
  font-weight: 700;
  word-wrap: break-word;
}

.phone-image-zakopianka {
  top: 815px;
  left: 507px;
  width: 35px;
  height: 35px;
}

.kontakt-information-text-phone-number-zakopianka {
  top: 815px;
  left: 551px;
  color: black;
  font-size: 12px;
  font-family: Nunito Sans;
  font-weight: 700;
  word-wrap: break-word;
}

.infromation-about-shop-galeria-krakowska-container {
  top: 870px;
  left: 435px;
  width: 410px;
  height: 622px;
  background: #FBF6F0;
  border-radius: 20px;
  border: 1px #346112 solid;
}

.video-road-to-shop-container {
  top: 887px;
  left: 486px;
  width: 410px;
  height: 622px;
  border-radius: 20px;
  border: 1px #346112 solid;
}

.video-road-to-shop {
  width: 410px;
  height: 622px;
}

.shop-title-galeria-krakowska {
  top: 1233px;
  left: 435px;
  width: 410px;
  height: 23px;
  text-align: center;
  color: black;
  font-size: 20px;
  font-family: Nunito Sans;
  font-weight: 700;
  word-wrap: break-word;
}

.map-image-galeria-krakowska {
  top: 1312px;
  left: 507px;
  width: 35px;
  height: 35px;
}

.kontakt-information-text-adres-galeria-krakowska {
  top: 1312px;
  left: 551px;
  color: black;
  font-size: 12px;
  font-family: Nunito Sans;
  font-weight: 700;
  word-wrap: break-word;
}

.instagram-image-galeria-krakowska {
  top: 1355px;
  left: 507px;
  width: 35px;
  height: 35px;
}

.kontakt-information-text-instagram-galeria-krakowska {
  top: 1355px;
  left: 551px;
  color: black;
  font-size: 12px;
  font-family: Nunito Sans;
  font-weight: 700;
  word-wrap: break-word;
}

.facebook-image-galeria-krakowska {
  top: 1398px;
  left: 507px;
  width: 35px;
  height: 35px;
}

.kontakt-information-text-facebook-galeria-krakowska {
  top: 1398px;
  left: 551px;
  color: black;
  font-size: 12px;
  font-family: Nunito Sans;
  font-weight: 700;
  word-wrap: break-word;
}

.e-mail-image-galeria-krakowska {
  top: 1441px;
  left: 507px;
  width: 35px;
  height: 35px;
}

.kontakt-information-text-e-mail-galeria-krakowska {
  top: 1441px;
  left: 551px;
  color: black;
  font-size: 12px;
  font-family: Nunito Sans;
  font-weight: 700;
  word-wrap: break-word;
}

.phone-image-galeria-krakowska {
  top: 1484px;
  left: 507px;
  width: 35px;
  height: 35px;
}

.kontakt-information-text-phone-number-galeria-krakowska {
  top: 1484px;
  left: 551px;
  color: black;
  font-size: 12px;
  font-family: Nunito Sans;
  font-weight: 700;
  word-wrap: break-word;
}

.infromation-about-shop-wadowice-container {
  top: 1385px;
  left: 435px;
  width: 410px;
  height: 622px;
  background: #FBF6F0;
  border-radius: 20px;
  border: 1px #346112 solid;
}

.video-road-to-shop-container {
  top: 1404px;
  left: 486px;
  width: 410px;
  height: 622px;
  border-radius: 20px;
  border: 1px #346112 solid;
}

.video-road-to-shop {
  width: 410px;
  height: 622px;
}

.shop-title-wadowice {
  top: 1772px;
  left: 435px;
  width: 410px;
  height: 23px;
  text-align: center;
  color: black;
  font-size: 20px;
  font-family: Nunito Sans;
  font-weight: 700;
  word-wrap: break-word;
}

.map-image-wadowice {
  top: 1981px;
  left: 507px;
  width: 35px;
  height: 35px;
}

.kontakt-information-text-adres-wadowice {
  top: 1981px;
  left: 551px;
  color: black;
  font-size: 12px;
  font-family: Nunito Sans;
  font-weight: 700;
  word-wrap: break-word;
}

.instagram-image-wadowice {
  top: 2024px;
  left: 507px;
  width: 35px;
  height: 35px;
}

.kontakt-information-text-instagram-wadowice {
  top: 2024px;
  left: 551px;
  color: black;
  font-size: 12px;
  font-family: Nunito Sans;
  font-weight: 700;
  word-wrap: break-word;
}

.facebook-image-wadowice {
  top: 2067px;
  left: 507px;
  width: 35px;
  height: 35px;
}

.kontakt-information-text-facebook-wadowice {
  top: 2067px;
  left: 551px;
  color: black;
  font-size: 12px;
  font-family: Nunito Sans;
  font-weight: 700;
  word-wrap: break-word;
}

.e-mail-image-wadowice {
  top: 2110px;
  left: 507px;
  width: 35px;
  height: 35px;
}

.kontakt-information-text-e-mail-wadowice {
  top: 2110px;
  left: 551px;
  color: black;
  font-size: 12px;
  font-family: Nunito Sans;
  font-weight: 700;
  word-wrap: break-word;
}

.phone-image-wadowice {
  top: 2153px;
  left: 507px;
  width: 35px;
  height: 35px;
}

.kontakt-information-text-phone-number-wadowice {
  top: 2153px;
  left: 551px;
  color: black;
  font-size: 12px;
  font-family: Nunito Sans;
  font-weight: 700;
  word-wrap: break-word;
}

.header {
  width: 100%;
  height: 120px;
  background: #346112;
  flex-direction: row;
  align-content: space-around;
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  margin: 0;
}

.header-container-left-logo {
  margin-left: 20px;
  width: 290px;
  height: 80px;
  border-radius: 20px;
}

.header-container-center-menu {
  margin: 10px;
  align-items: center;
  gap: 20px;
  display: inline-flex;
}

.header-container-center-menu-button {
  width: 189px;
  height: 64px;
  background: #FA813D;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.header-container-center-menu-button-inscription {
  flex: 1;
  color: black;
  font-size: 20px;
  font-family: Nunito Sans;
  font-weight: 700;
  word-wrap: break-word;
}

.header-container-center-menu-button-image {
  width: 30px;
  height: 30px;
}

.footer {
  bottom: 0px;
  width: 100%;
}

.footer-container {
  height: 64px;
  background: #346112;
}

.footer-annotation-text-1 {
  width: 181px;
  right: 15px;
  top: 5px;
  color: #FBF6F0;
  font-size: 12px;
  font-family: Nunito Sans;
  font-weight: 700;
  word-wrap: break-word;
}

.footer-annotation-text-2 {
  width: 1280px;
  height: 26px;
  text-align: center;
  color: #FBF6F0;
  font-size: 12px;
  font-family: Nunito Sans;
  font-weight: 600;
  word-wrap: break-word;
}

.question {
  background-color: bisque;
}
.question-header {
  background-color: #92D45F;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
.question-header-text {
  background-color: aliceblue;
}
.question-header-image {
  width: 30px;
  height: 30px;
}
.question-answer {
  background-color: indianred;
}

.special-offer-image {
  margin: 10px;
  width: 450px;
  height: 514px;
  border-radius: 20px;
  border: 1px solid #346112;
}

.available-services-container {
  width: 921px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  margin: 10px;
  border-radius: 20px;
  border: 1px solid #346112;
  background: #FBF6F0;
}

.available-services-description-head {
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.available-services-description-position-text-background {
  width: 794px;
  height: 77px;
  border-radius: 20px;
  border: 1px solid #346112;
  margin: 10px;
}

.available-services-description-position-text {
  display: flex;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  justify-content: center;
}

.button-inscription {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 233px;
  height: 95px;
  border-radius: 20px;
  border: 1px solid #346112;
  background: #FBF6F0;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 10px;
}

.eyetest-proces-step-decription-container {
  display: flex;
  margin: 10px;
}

.eyetest-proces-step-decription-background {
  display: flex;
  width: 163px;
  height: 246px;
  border-radius: 20px;
  border: 1px solid #346112;
  background: linear-gradient(0deg, #92D45F 0%, rgba(191, 234, 160, 0) 96.54%);
  flex-direction: column;
  align-items: center;
}

.eyetest-proces-step-number {
  color: #000;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 10px;
}

.eyetest-proces-step-description {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 10px;
}

.eyetest-proces-step-description-image {
  display: flex;
  width: 95px;
  height: 100px;
  margin: 10px;
  flex-shrink: 0;
}

.eyetest-cost-container {
  display: flex;
  margin: 10px;
}

.eyetest-cost-background {
  display: flex;
  margin: 10px;
  width: 433px;
  height: 28px;
  border-radius: 20px;
  background: #346112;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
}

.eyetest-cost-position-price {
  margin: 20px;
  color: #FBF6F0;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.eyetest-cost-position-description-text {
  margin: 20px;
  color: #FBF6F0;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.form-component-item-container {
  display: flex;
  width: 535px;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin: 20px;
  flex-wrap: wrap;
}

.form-component-item-input-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: rgba(0, 0, 0, 0.37);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 20px;
  border: 1px solid #346112;
  background: #FBF6F0;
  width: 535px;
  height: 40px;
  align-items: center;
  margin: 20px;
  flex-wrap: wrap;
}

.multifocal-lenses-title-container {
  width: 100%;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.lenses-kind-title {
  color: #000;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
}

.multifocal-lenses-description-container {
  margin: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.lenses-description-text {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.multifocal-lens-imagine-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 10px;
}

.multifocal-lens-image {
  display: flex;
  width: 450px;
  height: 325px;
  border-radius: 20px;
  border: 1px solid #346112;
  margin: 10px;
}

.special-offer-images-container {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.services-container {
  display: flex;
  justify-content: center;
}

.navigate-buttons-title {
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.navigate-buttons-container {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=index.css.map */
