$font_size_XL: "48px";
$font_size_L: "32px";
$font_size_M: "16px";
$font_size_S: "14px";

$font_weight_bold: "900";
$font_weight_semi_bold: "700";
$font_weight_normal: "400";

$font_family: 'Nunito Sans';
$page_background_color: #FBF6F0;
