.lenses-kind-title{
    color: #000;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }

.lenses-description-text{
    color: #000;
    font-family: Nunito Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }


.multifocal-lenses-general-description-text-container{
top:207px;
left:57px;
width: 1165px;
height: 106px;
flex-shrink: 0
}



.bifocal-lenses-title-container{
    top:355px;
    left:271px;
    width: 755px;
    height: 40px
}


    .bifocal-lenses-description-container{
    top:263px;
    left:92px;
    width: 557px;
    height: 531px;
    }

        .bifocal-lens-imagine-container{
        top:263px;
        left:664px;
        width: 552px;
        height: 531px;
        border-radius: 20px;
        border: 1px solid #346112;
        }

.relax-lenses-title-container{
    top:964px;
    left:271px;
    width: 755px;
    height: 40px
}

        .relax-lenses-description-container{
        top:1030px;
        left:92px;
        width: 557px;
        height: 531px;
        }

        .relax-lens-imagine-container{
            top:1030px;
            left:664px;
            width: 552px;
            height: 531px;
            border-radius: 20px;
            border: 1px solid #346112;
            }

.office-lenses-title-container{
    top:1541px;
    left:271px;
    width: 755px;
    height: 40px
}
            
        .office-lenses-description-container{
        top:1621px;
        left:100px;
        width: 1100px;
        height: 523px;
        }
            
        .office-lens-imagine-container{
            top:2008px;
            left:216px;
            width: 870px;
            height: 451px;
            border-radius: 20px;
            border: 1px solid #346112;
            }

.progressive-lenses-title-container{
    top:2739px;
    left:271px;
    width: 755px;
    height: 40px
}

    .progressive-lenses-description-container{
        top:1621px;
        left:100px;
        width: 1100px;
        height: 875px;
    }

        .basic-progressive-lens-imagine-container{
            top:3730px;
            left:100px;
            width: 539px;
            height: 445px;
            border-radius: 20px;
            border: 1px solid #346112;
        }

            .intermadiate-progressive-lens-imagine-container{
                top:3730px;
                left:650px;
                width: 539px;
                height: 445px;
                border-radius: 20px;
                border: 1px solid #346112;
            }

                .advanced-progressive-lens-imagine-container{
                    top:4186px;
                    left:390px;
                    width: 539px;
                    height: 445px;
                    border-radius: 20px;
                    border: 1px solid #346112;
                }